USE [master]
GO
/****** Object:  Database [WarriorsManagement]    Script Date: 25/05/2025 20:01:43 ******/
CREATE DATABASE [WarriorsManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarriorsManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\WarriorsManagement.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarriorsManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\WarriorsManagement_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarriorsManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarriorsManagement]
GO
/****** Object:  User [cristhian]    Script Date: 25/05/2025 20:01:43 ******/
CREATE USER [cristhian] FOR LOGIN [cristhian] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[ATLETA]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATLETA](
	[ID_ATLETA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDO] [nvarchar](100) NULL,
	[DNI] [nvarchar](9) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[NACIONALIDAD] [nvarchar](50) NULL,
	[CINTURON] [nvarchar](30) NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[PUNTOS] [int] NULL,
	[EN_RANKING] [bit] NULL,
	[ID_ENTRENADOR] [int] NOT NULL,
	[IMAGEN] [varbinary](max) NULL,
	[LATERALIDAD] [nvarchar](10) NOT NULL,
	[PESO] [decimal](5, 2) NULL,
	[ALTURA] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ATLETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFRENTAMIENTOS]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFRENTAMIENTOS](
	[ID_ENFRENTAMIENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ATLETA_AKA] [int] NULL,
	[ID_ATLETA_AO] [int] NULL,
	[ID_ARBITRO_CENTRAL] [int] NULL,
	[ID_ARBITRO_1] [int] NULL,
	[ID_ARBITRO_2] [int] NULL,
	[ID_ARBITRO_3] [int] NULL,
	[ID_ARBITRO_4] [int] NULL,
	[ID_STAFF] [int] NULL,
	[ID_GANADOR] [int] NULL,
	[FECHA] [date] NULL,
	[ID_TORNEO] [int] NULL,
	[ID_CATEGORIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENFRENTAMIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFRENTAMIENTO_KUMITE]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFRENTAMIENTO_KUMITE](
	[ID_ENFRENTAMIENTOKUMITE] [int] NOT NULL,
	[ID_ATLETA] [int] NOT NULL,
	[IPPON] [int] NULL,
	[WAZAARI] [int] NULL,
	[YUKO] [int] NULL,
	[CHUKOKU] [int] NULL,
	[KEYKOKU] [int] NULL,
	[HANSOKU_CHUI] [int] NULL,
	[HANSOKU] [int] NULL,
	[LESION] [int] NULL,
	[TOTAL_PUNTOS] [int] NULL,
	[TOTAL_FALTAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENFRENTAMIENTOKUMITE] ASC,
	[ID_ATLETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_MARCADOR_ENFRENTAMIENTO]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VISTA_MARCADOR_ENFRENTAMIENTO] AS
SELECT 
    e.ID_ENFRENTAMIENTO,
    a1.NOMBRE + ' ' + a1.APELLIDO + ' ' + CAST(ISNULL(k1.TOTAL_PUNTOS, 0) AS NVARCHAR) +
    ' - ' +
    a2.NOMBRE + ' ' + a2.APELLIDO + ' ' + CAST(ISNULL(k2.TOTAL_PUNTOS, 0) AS NVARCHAR) AS MARCADOR
FROM ENFRENTAMIENTOS e
LEFT JOIN ATLETA a1 ON e.ID_ATLETA_AKA = a1.ID_ATLETA
LEFT JOIN ATLETA a2 ON e.ID_ATLETA_AO = a2.ID_ATLETA
LEFT JOIN ENFRENTAMIENTO_KUMITE k1 ON e.ID_ENFRENTAMIENTO = k1.ID_ENFRENTAMIENTOKUMITE AND k1.ID_ATLETA = a1.ID_ATLETA
LEFT JOIN ENFRENTAMIENTO_KUMITE k2 ON e.ID_ENFRENTAMIENTO = k2.ID_ENFRENTAMIENTOKUMITE AND k2.ID_ATLETA = a2.ID_ATLETA;



GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RANKING]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RANKING](
	[ID_ATLETA] [int] NOT NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[APELLIDO] [nvarchar](100) NULL,
	[PUNTOS] [int] NULL,
	[POSICION] [int] NULL,
	[NOMBRE_CATEGORIA] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ATLETA] ASC,
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_RankingAtletasPorCategoria]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista_RankingAtletasPorCategoria] AS
SELECT 
	A.ID_ATLETA,
    A.NOMBRE,
    A.APELLIDO,
    A.DNI,
    A.FECHA_NACIMIENTO,
    A.NACIONALIDAD,
    A.CINTURON,
    A.PUNTOS,
    A.LATERALIDAD,
    A.PESO,
    A.ALTURA,
    A.ID_CATEGORIA,
    C.NOMBRE AS NOMBRE_CATEGORIA,
    R.POSICION
FROM 
    RANKING R
JOIN 
    ATLETA A ON A.ID_ATLETA = R.ID_ATLETA
JOIN 
    CATEGORIA C ON A.ID_CATEGORIA = C.ID_CATEGORIA;




GO
/****** Object:  View [dbo].[Vista_Historial_Atleta_Enfrentamientos]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_Historial_Atleta_Enfrentamientos] AS
SELECT 
    E.ID_ENFRENTAMIENTO,
    E.FECHA,
    A1.ID_ATLETA AS ID_AKA,
    A1.NOMBRE + ' ' + A1.APELLIDO AS Nombre_AKA,
    ISNULL(K1.TOTAL_PUNTOS, 0) AS Puntos_AKA,
    A2.ID_ATLETA AS ID_AO,
    A2.NOMBRE + ' ' + A2.APELLIDO AS Nombre_AO,
    ISNULL(K2.TOTAL_PUNTOS, 0) AS Puntos_AO,
    -- Resultado formateado
    A1.NOMBRE + ' ' + A1.APELLIDO + ' ' + CAST(ISNULL(K1.TOTAL_PUNTOS, 0) AS VARCHAR) +
    ' - ' +
    CAST(ISNULL(K2.TOTAL_PUNTOS, 0) AS VARCHAR) + ' ' +
    A2.NOMBRE + ' ' + A2.APELLIDO AS ResultadoFormateado
FROM ENFRENTAMIENTOS E
LEFT JOIN ATLETA A1 ON E.ID_ATLETA_AKA = A1.ID_ATLETA
LEFT JOIN ATLETA A2 ON E.ID_ATLETA_AO = A2.ID_ATLETA
LEFT JOIN ENFRENTAMIENTO_KUMITE K1 ON K1.ID_ENFRENTAMIENTOKUMITE = E.ID_ENFRENTAMIENTO AND K1.ID_ATLETA = A1.ID_ATLETA
LEFT JOIN ENFRENTAMIENTO_KUMITE K2 ON K2.ID_ENFRENTAMIENTOKUMITE = E.ID_ENFRENTAMIENTO AND K2.ID_ATLETA = A2.ID_ATLETA;





GO
/****** Object:  Table [dbo].[ADMINISTRATIVO]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMINISTRATIVO](
	[ID_ADMINISTRATIVO] [int] NOT NULL,
	[ID_EMPLEADO] [int] NULL,
	[CARGO] [nvarchar](50) NULL,
	[SUELDO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ADMINISTRATIVO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARBITRO]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARBITRO](
	[ID_ARBITRO] [int] NOT NULL,
	[ID_EMPLEADO] [int] NULL,
	[SUELDO] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ARBITRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDO] [nvarchar](100) NOT NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[DIRECCION] [nvarchar](150) NULL,
	[FECHA_INGRESO] [date] NULL,
	[ID_FEDERACION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFRENTAMIENTO_KATA]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFRENTAMIENTO_KATA](
	[ID_ENFRENTAMIENTO_KATA] [int] NOT NULL,
	[ID_ATLETA_AKA] [int] NOT NULL,
	[NOMBRE_KATA] [nvarchar](50) NULL,
	[BANDERAS_AZULES] [int] NULL,
	[BANDERAS_ROJAS] [int] NULL,
	[LESION] [bit] NULL,
	[OLVIDO_KATA] [bit] NULL,
	[DESCALIFICACION] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENFRENTAMIENTO_KATA] ASC,
	[ID_ATLETA_AKA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRENADOR]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRENADOR](
	[ID_ENTRENADOR] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDO] [nvarchar](100) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[NACIONALIDAD] [nvarchar](50) NULL,
	[CINTURON] [nvarchar](30) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[NUMERO_CALLE] [int] NULL,
	[COD_POSTAL] [nvarchar](10) NULL,
	[ESCUELA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ENTRENADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEDERACION]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEDERACION](
	[ID_FEDERACION] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[CALLE] [nvarchar](100) NULL,
	[NUMERO_CALLE] [int] NULL,
	[COD_POSTAL] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FEDERACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUNTOS]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTOS](
	[ID_PUNTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_ENFRENTAMIENTO] [int] NULL,
	[ID_ATLETA] [int] NULL,
	[ACCION] [nvarchar](20) NULL,
	[EXTREMIDAD] [nvarchar](10) NULL,
	[LATERALIDAD] [nvarchar](10) NULL,
	[CANTIDAD_BANDERAS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PUNTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUD_REGISTRO]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUD_REGISTRO](
	[ID_SOLICITUD] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NOT NULL,
	[APELLIDO] [nvarchar](100) NULL,
	[DNI] [nvarchar](9) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[NACIONALIDAD] [nvarchar](50) NULL,
	[CINTURON] [nvarchar](30) NULL,
	[ID_CATEGORIA] [int] NOT NULL,
	[PUNTOS] [int] NULL,
	[EN_RANKING] [bit] NULL,
	[ID_ENTRENADOR] [int] NOT NULL,
	[IMAGEN] [varbinary](max) NULL,
	[LATERALIDAD] [nvarchar](10) NOT NULL,
	[PESO] [decimal](5, 2) NULL,
	[ALTURA] [decimal](5, 2) NULL,
	[FECHA_SOLICITUD] [datetime] NULL,
	[APROBADO] [bit] NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[CONTRASENA_HASH] [varbinary](max) NOT NULL,
	[TIPO_USUARIO_SOLICITADO] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SOLICITUD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID_STAFF] [int] NOT NULL,
	[ID_EMPLEADO] [int] NULL,
	[PUESTO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_STAFF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TORNEO]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TORNEO](
	[ID_TORNEO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](100) NULL,
	[CIUDAD] [nvarchar](50) NULL,
	[CALLE] [nvarchar](100) NULL,
	[NUMERO_CALLE] [int] NULL,
	[COD_POSTAL] [nvarchar](10) NULL,
	[FECHA] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TORNEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 25/05/2025 20:01:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[EMAIL] [nvarchar](100) NOT NULL,
	[CONTRASENA_HASH] [varbinary](max) NOT NULL,
	[TIPO_USUARIO] [varchar](20) NOT NULL,
	[ID_ATLETA] [int] NULL,
	[ID_ARBITRO] [int] NULL,
	[ID_STAFF] [int] NULL,
	[ID_ENTRENADOR] [int] NULL,
	[ID_ADMINISTRATIVO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ATLETA] ADD  DEFAULT ((0)) FOR [PUNTOS]
GO
ALTER TABLE [dbo].[ATLETA] ADD  DEFAULT ((0)) FOR [EN_RANKING]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KATA] ADD  DEFAULT ((0)) FOR [LESION]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KATA] ADD  DEFAULT ((0)) FOR [OLVIDO_KATA]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KATA] ADD  DEFAULT ((0)) FOR [DESCALIFICACION]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [IPPON]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [WAZAARI]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [YUKO]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [CHUKOKU]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [KEYKOKU]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [HANSOKU_CHUI]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [HANSOKU]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [LESION]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [TOTAL_PUNTOS]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE] ADD  DEFAULT ((0)) FOR [TOTAL_FALTAS]
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS] ADD  DEFAULT (CONVERT([date],getdate())) FOR [FECHA]
GO
ALTER TABLE [dbo].[SOLICITUD_REGISTRO] ADD  DEFAULT ((0)) FOR [PUNTOS]
GO
ALTER TABLE [dbo].[SOLICITUD_REGISTRO] ADD  DEFAULT ((0)) FOR [EN_RANKING]
GO
ALTER TABLE [dbo].[SOLICITUD_REGISTRO] ADD  DEFAULT (getdate()) FOR [FECHA_SOLICITUD]
GO
ALTER TABLE [dbo].[SOLICITUD_REGISTRO] ADD  DEFAULT ((0)) FOR [APROBADO]
GO
ALTER TABLE [dbo].[ADMINISTRATIVO]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[ARBITRO]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[ATLETA]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[ATLETA]  WITH CHECK ADD FOREIGN KEY([ID_ENTRENADOR])
REFERENCES [dbo].[ENTRENADOR] ([ID_ENTRENADOR])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([ID_FEDERACION])
REFERENCES [dbo].[FEDERACION] ([ID_FEDERACION])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KATA]  WITH CHECK ADD FOREIGN KEY([ID_ATLETA_AKA])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KATA]  WITH CHECK ADD FOREIGN KEY([ID_ENFRENTAMIENTO_KATA])
REFERENCES [dbo].[ENFRENTAMIENTOS] ([ID_ENFRENTAMIENTO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE]  WITH CHECK ADD FOREIGN KEY([ID_ATLETA])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTO_KUMITE]  WITH CHECK ADD FOREIGN KEY([ID_ENFRENTAMIENTOKUMITE])
REFERENCES [dbo].[ENFRENTAMIENTOS] ([ID_ENFRENTAMIENTO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ARBITRO_CENTRAL])
REFERENCES [dbo].[ARBITRO] ([ID_ARBITRO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ARBITRO_1])
REFERENCES [dbo].[ARBITRO] ([ID_ARBITRO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ARBITRO_2])
REFERENCES [dbo].[ARBITRO] ([ID_ARBITRO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ARBITRO_3])
REFERENCES [dbo].[ARBITRO] ([ID_ARBITRO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ARBITRO_4])
REFERENCES [dbo].[ARBITRO] ([ID_ARBITRO])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ATLETA_AKA])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_ATLETA_AO])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_GANADOR])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_STAFF])
REFERENCES [dbo].[STAFF] ([ID_STAFF])
GO
ALTER TABLE [dbo].[ENFRENTAMIENTOS]  WITH CHECK ADD FOREIGN KEY([ID_TORNEO])
REFERENCES [dbo].[TORNEO] ([ID_TORNEO])
GO
ALTER TABLE [dbo].[PUNTOS]  WITH CHECK ADD FOREIGN KEY([ID_ATLETA])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[PUNTOS]  WITH CHECK ADD FOREIGN KEY([ID_ENFRENTAMIENTO])
REFERENCES [dbo].[ENFRENTAMIENTOS] ([ID_ENFRENTAMIENTO])
GO
ALTER TABLE [dbo].[RANKING]  WITH CHECK ADD FOREIGN KEY([ID_ATLETA])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[RANKING]  WITH CHECK ADD FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[STAFF]  WITH CHECK ADD FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ADMIN] FOREIGN KEY([ID_ADMINISTRATIVO])
REFERENCES [dbo].[ADMINISTRATIVO] ([ID_ADMINISTRATIVO])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIO_ADMIN]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ARBITRO] FOREIGN KEY([ID_ARBITRO])
REFERENCES [dbo].[ARBITRO] ([ID_ARBITRO])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIO_ARBITRO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ATLETA] FOREIGN KEY([ID_ATLETA])
REFERENCES [dbo].[ATLETA] ([ID_ATLETA])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIO_ATLETA]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ENTRENADOR] FOREIGN KEY([ID_ENTRENADOR])
REFERENCES [dbo].[ENTRENADOR] ([ID_ENTRENADOR])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIO_ENTRENADOR]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_STAFF] FOREIGN KEY([ID_STAFF])
REFERENCES [dbo].[STAFF] ([ID_STAFF])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIO_STAFF]
GO
ALTER TABLE [dbo].[ATLETA]  WITH CHECK ADD CHECK  (([LATERALIDAD]='ZURDO' OR [LATERALIDAD]='DIESTRO'))
GO
ALTER TABLE [dbo].[PUNTOS]  WITH CHECK ADD CHECK  (([ACCION]='LESION' OR [ACCION]='HANSOKU' OR [ACCION]='HANSOKU_CHUI' OR [ACCION]='KEYKOKU' OR [ACCION]='CHUKOKU' OR [ACCION]='YUKO' OR [ACCION]='WAZAARI' OR [ACCION]='IPPON'))
GO
ALTER TABLE [dbo].[PUNTOS]  WITH CHECK ADD CHECK  (([EXTREMIDAD]='PIE' OR [EXTREMIDAD]='MANO'))
GO
ALTER TABLE [dbo].[PUNTOS]  WITH CHECK ADD CHECK  (([LATERALIDAD]='IZQUIERDA' OR [LATERALIDAD]='DERECHA'))
GO
ALTER TABLE [dbo].[SOLICITUD_REGISTRO]  WITH CHECK ADD CHECK  (([LATERALIDAD]='ZURDO' OR [LATERALIDAD]='DIESTRO'))
GO
ALTER TABLE [dbo].[SOLICITUD_REGISTRO]  WITH CHECK ADD CHECK  (([TIPO_USUARIO_SOLICITADO]='ARBITRO' OR [TIPO_USUARIO_SOLICITADO]='ATLETA' OR [TIPO_USUARIO_SOLICITADO]='ADMINISTRADOR' OR [TIPO_USUARIO_SOLICITADO]='ENTRENADOR' OR [TIPO_USUARIO_SOLICITADO]='STAFF'))
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [CK_TIPO_USUARIO] CHECK  (([TIPO_USUARIO]='ADMINISTRADOR' OR [TIPO_USUARIO]='ENTRENADOR' OR [TIPO_USUARIO]='STAFF' OR [TIPO_USUARIO]='ARBITRO' OR [TIPO_USUARIO]='ATLETA'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [CK_TIPO_USUARIO]
GO
USE [master]
GO
