<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="WMConnetionString"
			 connectionString="Data Source=IBM-PF1LKN4U\SQLEXPRESS;
			 Initial Catalog=WM;
			 Integrated Security=True;
Encrypt=True;
TrustServerCertificate=True;
Connect Timeout=30;"
			  providerName="System.Dat.SqlClient" />
	</connectionStrings>
</configuration>